/*Estilos para todas las vistas de los usuarios */

/*Estilos Vistas de registro e inicio de sesion*/

.vistaRegistro, .vistaInicioUsuario{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background: #FFEDE1;
    flex-direction: column;
}

.linkContraseña{
    color: #1b3463;
    text-decoration: none ;
}
.linkContraseña:hover{
    color: #80aaf8;
}

/*Estilos vista de reservas*/

.vistaReservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #FFEDE1;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.vistaTestimonio{
    display: flex;
    flex-direction: column;
    
    background: #FFEDE1;
}

.cardshabitaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
}
.vistaTestimonio Button{
    width: 18rem;
    margin: auto;
}

.modalCuerpo{
    background:#FFEDE1 ;
}

.contenedor{
    margin-top: 3rem;
}
.textImgs{
    padding: 0 !important;
}
.text{
    margin: 1.5rem;
    align-self: center;
    font-size: 0.8rem;
}
.contSecond{
    color: #000;
    padding: 1.5rem;
    background: #D7F9FF;
    margin-top: 0 !important;
}


/*Estilos para laptops y PC*/
@media (min-width: 500px){
    .text{
        margin-top: 3rem;
        
    font-size: 1rem;
    }
   .contSecond{
        margin-top: 10rem;
        
    }
}
@media (min-width: 1000px){
    .text{
        margin-top: 3.5rem;
    font-size: 1.6rem;
    }
    .textImgs{
        font-size: 1.3rem;
    }.contSecond{
        margin-top: 6rem !important;
        
    }
}


@media (min-width: 1200px){

    .vistaReservas{
        height: 150vh;
    }.textImgs{
        font-size: 1.8rem;
    }
    .text{
        margin-top: 4.5rem;
    }.contSecond{
        margin-top: 10rem !important;
        
    }
}