/*Estilos para todas las vistas de los usuarios */

/*Estilos Vistas de registro e inicio de sesion*/

.vistaRegistro, .vistaInicioUsuario{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background: #FFEDE1;
    flex-direction: column;
}

.linkContraseña{
    color: #1b3463;
    text-decoration: none ;
}
.linkContraseña:hover{
    color: #80aaf8;
}

/*Estilos vista de reservas*/

.vistaReservas , .vistaTestimonio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

/*Estilos para laptops y PC*/

@media (min-width: 1200px){

    .vistaReservas{
        height: 150vh;
    }
}