/*Estilos tarjetas*/

.cardTestimonio{
    width: 60%;
    align-self: center;
    margin: 2rem;
    margin-top: 3rem;
    background: #D7F9FF !important;
}

.cardBlog{
    width: 100%;
    height: 100vh;
}